body{
    margin: 0;
    padding: 0;
}
.logo{
    width: 100px;
    height: 60px;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to left,red,purple);
}
.navbar ul{
    list-style-type: none;
    padding:0px;
    margin: 0px;
    display: flex;
    overflow: hidden;
    align-items: center; /* Centering vertically */
}
.navbar li{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    float: left;
}
.spec{
    border-right: 2px solid black;
}
#mid {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: fit-content;
}
form{
    line-height: 50px;
}
input{
    font-size: 20px;
}
select{
    width: 160px;
    height: fit-content;
    font-size: 1.5em;
    margin: 5px;
}

footer{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 15%;
    height: fit-content;
    background-color: lightgrey;
}
footer section{
    margin: 10px;
    text-align: center;
}
.imgs{
    width: 120px;
    height:120px;
    border-radius: 50%;
}
h1{
    text-align: center;
    font-size: 3rem;
    width: fit-content;
}
